main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--background);
    color: var(--text);

    h2 {
        color: var(--secondary);
    }

    #socials {
        display: flex;
        flex-direction: column;

        & ul {
            display: flex;
            justify-content: center;
            gap: 5rem;
        }

        & img {
            width: clamp(5vh, 5vw, 5vh);
            height: clamp(5vh, 5vw, 5vh);
        }
    }
}